<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\43334\AppData\Local\Temp\libhello.dll9614773463076294534" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>